product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/Messages/Messages.apk
product/priv-app/GmsCore/GmsCore.apk
system/system/app/HoneyBoard/HoneyBoard.apk
system/system/priv-app/OneDrive_Samsung_v3/OneDrive_Samsung_v3.apk
system/system/priv-app/AREmojiEditor/AREmojiEditor.apk.xz
system/system/priv-app/AREmojiEditor/AREmojiEditor.apk
system/system/priv-app/SumeNNService/SumeNNService.apk
system/system/system_ext/apex/com.android.vndk.v30.apex
vendor/etc/saiv/aisolution_1.0/CIGSOL_17_lowlight_PAPAYA.nnc
