# rscmgr rc file
#on property:sys.readahead.resource=1
#    readahead /system/bin/surfaceflinger --fully

on property:sys.readahead.resource=2
    readahead /system/app/HoneyBoard/oat/arm64/HoneyBoard.vdex --fully
    readahead /system/app/HoneyBoard/oat/arm64/HoneyBoard.odex --fully
    readahead /system/app/HoneyBoard/HoneyBoard.apk --fully
    setprop sys.readahead.resource 0
